body {
    border: "1px solid black";
    padding: "16px";
    display: "flex";
    flex-Direction: "column";
  }

h4  {
    display: "flex";
    flex-Direction: "row";
    justify-Content: "space-between";
  }

img {
    border-radius: 20px;
}
p {
    color: darkred
}